<div class="ui container segment" id="login-segment-menu">
    <div class="ui middle aligned  grid">
        <div class="column">
            <h2 class="ui teal center aligned header">
               
                    REGISTER TO KOPPINO CHAT
    
           </h2>
             <form action="/register" method="POST" class="ui form">
                <div class="ui container segment">
                    <div class="field">
                        <div class="ui left icon input">
                            <i class="user icon"></i>
                            <input type="text" name="username" placeholder="user name"required>
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui left icon input">
                            <i class="mail icon"></i>
                            <input type="text" name="email" placeholder="e-mail address"required>
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui left icon input">
                            <i class="lock icon"></i>
                            <input type="password" name="password" placeholder="password"required>
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui left icon input">
                            <i class="lock icon"></i>
                            <input type="password" name="password2" placeholder="password one more time"required>
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui segment check">
                            <input type="checkbox" class="ui form " required >
                            <label for="">Agree with rules.</label>
                        </div>
                    </div>
                    <button type="submit" class="ui fluid large submit button">Register</button>
                </div>
            </form>
        </div>
    </div>
</div>