<div class="ui grid">
    <div class="four wide column" id="user-list-column">
    
    </div>
    <div class="twelve wide column" id="user-list-column">
        <div class="ui segment">
            <h4 class="header">Přidat post</h4>
            <div class="ui divider"></div>
            <form class="ui form" action="" method="post" enctype="multipart/form-data">
                  <div class="field">
                      <label for="">
                          profil img
                      </label>
                      <input class="ui fluid button"type="file" class="inputMessage" name="img"
                     "
                      placeholder="Text your message." multiple>
                  </div>
                  <div class="field">
                    <label for="">
                        media
                    </label>
                    <input class="ui fluid button"type="file" class="inputMessage" name="files"
                    placeholder="Text your message." multiple>
                  </div>
                  <div class="field">
                      <label for="">Nadpis</label>
                      <input type="text" name="title" id="title">
                  </div>
                  <div class="field">
                      <label for="">Zpráva</label>
                      <textarea name="message" id="" cols="30" rows="4"></textarea>
                  </div>
                  <button class="ui button" type="submit">Uložit</button>
            </form>
        </div>
        

    </div>
</div>