
<div class="ui segment">
    <form action="/settings/change-avatar" method="post" class="ui fluid form"  enctype='multipart/form-data'>
<input type="file" name="file" id=""placeholder="avatar">
<input type="submit" value="Send" class="ui fluid button">
</form>
</div>