<div class="ui segment">
    <h2>
        <img src="/files/admin-file-<%-user._id-%>.jpeg" class="avatar-medium"> 
        <%- user.username%>
    </h2>
    <a href="/settings/change-avatar/" style="padding-right: 1rem;">
        <i class="far fa-image"></i>Změnit avatar
    </a>
    <a href="/logout" style="padding-right: 1rem;">
        <i class="fas fa-sign-out-alt"></i>Odhlásit
    </a>

</div>