<div class="ui stackable two column grid">
    <div class="four wide column">
      <h1><%-username%></h1>
    </div>
    <div class="twelve wide column"><div class="">asd</div></div>
  </div>

  <script>console.log("<%-username%>")</script>