<div class="ui segment">
    <h2>
        <img src="/files/admin-file-<%-userProfile._id-%>.jpeg" class="avatar-medium">
        <%- userProfile.username%>
    </h2>
    <a href="/chat/<%-userProfile._id%>" style="padding-right: 1rem;">
        <i class="icon mail"></i>Poslat zprávu
    </a>
 

</div>