<div class="ui segment">
    <h2>
        <img src="/files/admin-file-<%-userProfile._id-%>.jpeg" class="avatar-medium">
        <%- userProfile.username%>
    </h2>
    <div class="ui segment" id="profile-menu">
        <a href="" style="padding-right: 1rem;">
            <i class="fas fa-poll-h"></i>Zeď
        </a>
        <a href="" style="padding-right: 1rem;">
            <i class="icon info"></i>Informace
        </a>
        <a href="/chat/<%-userProfile._id%>" style="padding-right: 1rem;">
            <i class="icon mail"></i>Poslat zprávu
        </a> <a href="" style="padding-right: 1rem;">
            <i class="fas fa-ellipsis-h"></i>
        </a>
    </div>
    <div class="ui segment">
        <h4>Zeď</h4>

        

    </div>